.sd-matrix {
  fieldset {
    border: none;
    padding: 0;
  }
}

.sd-matrix__label {
  display: flex;
  justify-content: center;
}
.sd-matrix__text {
  padding: calcSize(2);
}
.sd-matrix__text--checked {
  background-color: $green-light;
  padding: calcSize(2);
}
.sd-matrix__cell:first-child {
  font-weight: 600;
  text-align: left;
}

.sd-matrix__cell.sd-matrix__cell {
  @media (max-width: 600px) {
    display: flex;
    align-items: center;
    padding: 0;
    &:after {
      content: attr(title);
      margin-left: calcSize(1);
    }
    &:first-child {
      margin-bottom: calcSize(1);
    }
  }
}
.sd-matrix__label {
  @media (max-width: 600px) {
    justify-content: start;
  }
}